<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.scent.perfume.planning.model.mapper.MemberMapper">
	<sql id="selectMemberSql">
		SELECT M_NO, 
   			   M_DIVISION, 
   			   M_STATUS,
   			   M_PATH,
   			   M_ID,
   			   M_PWD,
   			   M_NAME,
   			   M_BIRTH,
   			   M_GENDER,
   			   M_MAIL,
   			   M_PHONE,
   			   M_ADDR,
   			   M_POINT,
   			   M_CREATE,
   			   M_UPDATE,
   			   M_MAILSTATUS
		FROM MEMBER
	</sql>
	
	<resultMap id="memberResultMap" type="Member">
		<id property="no" column="M_NO"/>
		<result property="division" column="M_DIVISION" />
		<result property="status" column="M_STATUS" />
		<result property="path" column="M_PATH" />
		<result property="id" column="M_ID" />
		<result property="pwd" column="M_PWD" />
		<result property="name" column="M_NAME" />
		<result property="birth" column="M_BIRTH" />
		<result property="gender" column="M_GENDER" />
		<result property="mail" column="M_MAIL" />
		<result property="phone" column="M_PHONE" />
		<result property="addr" column="M_ADDR" />
		<result property="point" column="M_POINT" />
		<result property="create" column="M_CREATE" />
		<result property="update" column="M_UPDATE" />
		<result property="mailStatus" column="M_MAILSTATUS" />
	</resultMap>
	
	<select id="selectMemberById" parameterType="string" resultMap="memberResultMap">
		<include refid="selectMemberSql" />
		WHERE M_ID = #{id} AND M_STATUS = 'Y'
	</select>
	
	<select id="selectMailStatusById" parameterType="string" resultType="string">
	    SELECT M_MAILSTATUS
	    FROM MEMBER
	    WHERE M_ID = #{id}
	</select>
	
	<select id="getMemberByEmail" parameterType="string" resultType="string">
		SELECT M_ID
		FROM MEMBER
		WHERE M_MAIL = #{userEmail}
	</select>
	
	<select id="getPassword" parameterType="map" resultType="string">
		SELECT M_PWD
		FROM MEMBER
		WHERE M_NAME = #{userName} AND M_ID = #{userId}
	</select>
	
	<update id="updatePassword" parameterType="map">
	    UPDATE MEMBER
	    SET M_PWD = #{tempPassword}
	    WHERE M_ID = #{userId}
	</update>
</mapper>

