@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Nanum Myeongjo', serif;
}

/* 푸터 영역 */
.footer-text {
	font-family: 'Nanum Myeongjo', serif;
    height: auto;
    font-size: medium;
    text-align: center;
    margin-top: 50px;
}