@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Nanum Myeongjo', serif;
    text-decoration: none;
}


/* 메인 아티클 영역*/
#article {
    height: 400px;
    background-color: #f8f7f2;
    display: flex; /* flexbox 사용 */
  	justify-content: center;
	align-items: center;
}

#article-slider {
	display: flex; /* flexbox 사용 */
	align-items: center; /* 수직 정렬 */
	overflow: hidden; /* 슬라이더 영역 보이지 않게 처리 */
	white-space: nowrap; /* 슬라이드 요소를 한 줄로 배치 */
}

#article-slider > div {
	flex: 0 0 auto; /* 크기 조정 금지 */
	text-align: center; /* 수평 정렬 */
	margin: 0 5px; /* 요소 간 좌우 간격 설정 */
	padding: 10px 0; /* 슬라이드의 내부 여백 설정 */
	display: inline-block;
}

#article-slider > div img {
    width: 100px;
    height: 150px;
}

/* NEW 배치 정렬 */
.article1 > #article-slider {
	margin-left: 300px;
}

/* BRAND 배치 정렬 */
.article2 {
	flex-direction: column;
}

/* BEST 배치 정렬 */
.article3 > #article-slider {
	margin-right: 300px;
}

/* 배너 영역 */
#banner {
	text-align: center;
	width: 100%;
    height: 100%;
    margin: 0 auto;
}