@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}


/* 메인 아티클 영역*/
#article {
    height: 400px;
    background-color: #f8f7f2;
}

.slick-slider {
	width: 50%;
	height: 100%;
}

.slick-slider div {
	height: 100%;
	background-color: #d8d8d8;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	font-weight: bold;
	color: #000;
}

/* 배너 영역 */
#banner {
    height: 100px;
    background-color: #8f7754;
}