@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}


/* 메인 아티클 영역*/
#article {
    height: 400px;
    background-color: #f8f7f2;
    display: flex; /* flexbox 사용 */
  	align-items: center; /* 수직 정렬 */
}

.slick-slider {
	display: flex; /* flexbox 사용 */
	align-items: center; /* 수직 정렬 */
}

.slick-slider > div {
	flex-shrink: 0; /* 크기 조정 금지 */
	text-align: center; /* 수평 정렬 */
	background-color: #eee; /* 슬라이드의 배경색 지정 */
	margin: 0 5px; /* 요소 간 좌우 간격 설정 */
	padding: 10px 0; /* 슬라이드의 내부 여백 설정 */
}


/* 배너 영역 */
#banner {
    height: 100px;
    background-color: #8f7754;
}