@charset "UTF-8";

body {
    margin: 0;
    font-family: 'Nanum Myeongjo', serif;
}

#title {
	margin-top: 50px;
	margin-bottom: 70px;
}

h2 {
	text-align: center;
}

#special-content {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

#special-content > div:first-child {
	margin-right: 20px;
}

.product-info {
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-img {
	flex: 1;
	text-align: center;
}

.product-text {
	flex: 2;
	padding: 0 0 0 20px;
}

.product-img a img {
	width: 30%;
}