<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.scent.perfume.cart.model.mapper.CartMapper">
	
	<!-- 0 -->
	<resultMap id="selectCartMemberInfoResultMap" type="com.scent.perfume.cart.model.vo.CartMember">
		<id property="memberNo" column="m_no"/>
		<result property="memberId" column="m_id"/>
		<result property="memberName" column="m_name"/>
		<result property="memberPoint" column="m_point"/>
		<collection property="memberBenefitList" javaType="arraylist" select="selectMemberBenefitList" column="m_no"/>
	</resultMap>
	
	<!-- 0 -->
	<resultMap id="memberBenefitResultMap" type="com.scent.perfume.cart.model.vo.Benefit" >
		<id property="memberNo" column="m_no"/>
		<result property="benefitNo" column="bn_no"/>
		<result property="mbiNo" column="mbi_no"/>
		<result property="mbiStatus" column="mbi_status"/>
		<result property="benefitName" column="bn_name"/>
		<result property="benefitTitle" column="bn_title"/>
		<result property="benefitContent" column="bn_content"/>
		<result property="benefitCreateDate" column="bn_createdate"/>
		<result property="benefitEndDate" column="bn_enddate"/>
		<result property="benefitRatio" column="bn_ratio"/>
		<result property="benefitHit" column="bn_hit"/>
	</resultMap>
	
	<!-- 0 -->
	<resultMap id="selectProductBenefitResultMap" type="com.scent.perfume.cart.model.vo.Benefit" >
		<id property="pNo" column="p_no"/>
		<result property="benefitNo" column="bn_no"/>
		<result property="benefitName" column="bn_name"/>
		<result property="benefitTitle" column="bn_title"/>
		<result property="benefitContent" column="bn_content"/>
		<result property="benefitCreateDate" column="bn_createdate"/>
		<result property="benefitEndDate" column="bn_enddate"/>
		<result property="benefitRatio" column="bn_ratio"/>
		<result property="benefitHit" column="bn_hit"/>
	</resultMap>
	
	<!-- 0 -->
	<resultMap id="selectCartResultMap" type="com.scent.perfume.cart.model.vo.Cart" >
		<id property="cartNo" column="c_no"/>
		<result property="productNo" column="p_no"/>
		<result property="memberNo" column="m_no"/>
		<result property="cartProductCount" column="c_count"/>
		<result property="cartOptionSize" column="c_size"/>
		<result property="cartDate" column="c_date"/>
		<result property="cartUpdateDate" column="c_update"/>
	</resultMap>
	
	<!-- 0 -->
	<resultMap id="selectCartProductInfoResultMap" type="com.scent.perfume.cart.model.vo.CartProduct" >
		<id property="productBrand" column="P_BRAND"/>
		<result property="productTitle" column="P_TITLE"/>
		<result property="productName" column="P_NAME"/>
		<result property="productEngName" column="P_ENG"/>
		<result property="productOptionSize" column="PO_NAME"/>
		<result property="productPrice" column="PO_PRICE"/>
		<result property="productAmount" column="PO_AMOUNT"/>
		<result property="productOfName" column="PF_ORIGINALFILENAME"/>
		<result property="productRfName" column="PF_RENAMEFILENAME"/>
	</resultMap>
	
	<resultMap id="orderListResultMap" type="com.scent.perfume.cart.model.vo.Order" >
		<id property="orderNo" column="od_no"/>
		<result property="memberNo" column="od_mno"/> 
		<result property="orderMethod" column="od_method"/> 
		<result property="orderDate" column="od_date"/> 
		<result property="finalPrice" column="od_price"/> 
		<result property="discount" column="od_discash"/> 
		<result property="point" column="od_point"/> 
		<result property="coupon" column="od_coupon"/> 
		<result property="delivery" column="od_dlvcash"/> 
		<result property="orderName" column="od_name"/> 
		<result property="orderPhone" column="od_phone"/> 
		<result property="orderEmail" column="od_email"/> 
		<result property="recipientName" column="od_dname"/> 
		<result property="recipientAddr" column="od_address"/> 
		<result property="recipientPhone" column="od_dphone"/> 
		<result property="memo" column="od_memo"/>
		<collection property="orderList" javaType="arraylist" select="orderDetailList" column="od_no"/>
	</resultMap>
	
	<resultMap id="orderDetailResultMap" type="com.scent.perfume.cart.model.vo.OrderList">
		<id property="orderNo" column="OD_NO"/>
		<result property="orderFileName" column="PF_RENAMEFILENAME"/>	
		<result property="productNo" column="P_NO"/>	
		<result property="productName" column="P_NAME"/>	
		<result property="productEng" column="P_ENG"/>	
		<result property="productBrand" column="P_BRAND"/>	
		<result property="orderSize" column="O_SIZE"/>	
		<result property="orderPrice" column="O_PRICE"/>	
		<result property="orderCount" column="O_COUNT"/>	
	</resultMap>
	
	<resultMap id="nowOrderResultMap" type="productOption">
		<id property="poNo" column="po_no"/>
		<result property="productNo" column="p_no"/>
		<result property="poName" column="po_name"/>
		<result property="poPrice" column="po_price"/>
		<result property="poAmount" column="po_amount"/>
		<!-- <association property="product" select="selectNowProduct" column="p_no" javaType="CartProduct"/>
		<association property="file" select="selectNowFile" column="p_no" javaType="AdminProductFile"/>
		<collection property="benefitList" select="selectProductBenefit" column="p_no" javaType="arraylist"/> -->
	</resultMap>
	
	<resultMap id="nowProductResultMap" type="CartProduct">
		<result property="productName" column="p_name"/>
		<result property="productEngName" column="p_eng"/>
		<result property="productBrand" column="p_brand"/>
		<result property="productTitle" column="p_title"/>
	</resultMap>
	
	<resultMap id="nowFileResultMap" type="AdminProductFile">
		<result property="originalFileName" column="PF_ORIGINALFILENAME"/>
		<result property="renameFileName" column="PF_RENAMEFILENAME"/>
	</resultMap>
	
	<!-- 0 -->
	<select id="selectMemberBenefitList" parameterType="_int" resultMap="memberBenefitResultMap">
	SELECT 
        M.m_no,
        B.bn_no,
        MBI.mbi_no,
        MBI.mbi_status,
        B.bn_name,
        B.bn_title,
        B.bn_content,
        B.bn_createdate,
        B.bn_enddate,
        B.bn_ratio,
        B.bn_hit
	FROM MEMBER_BENEFIT_INFO MBI
	JOIN MEMBER M ON(M.M_NO = MBI.M_NO)
	join benefit B ON (MBI.bn_no = B.BN_NO)
	WHERE M.M_NO = #{memberNo} AND M.M_STATUS = 'Y' and MBI.mbi_status = 'Y' AND B.BN_NAME = '쿠폰'
	</select>
	
	<!-- 0 -->
	<select id="selectProductBenefit" parameterType="_int" resultMap="selectProductBenefitResultMap">
	SELECT 
		    PB.p_no,
		    B.bn_no,
		    B.bn_name,
		    B.bn_title,
		    B.bn_content,
		    B.bn_createdate,
		    B.bn_enddate,
		    B.bn_ratio,
		    B.bn_hit
	FROM BENEFIT B
	JOIN PRODUCT_BENEFIT PB ON (B.BN_NO = PB.BN_NO)
	WHERE PB.P_NO = #{productNo} AND B.BN_ENDDATE > SYSDATE AND B.BN_STATUS = 'Y' AND B.BN_NAME = '기획전할인'
	</select>
	
	<!-- 0 -->
	<select id="selectCartMemberInfo" parameterType="_int" resultMap="selectCartMemberInfoResultMap">
	SELECT
		    m_no,
		    m_id,
		    m_name, 
		    m_point
	FROM  member
	WHERE M_NO = #{memberNo} AND M_STATUS = 'Y'
	</select>
	
	<!-- 0 -->
	<select id="selectCart" parameterType="_int" resultMap="selectCartResultMap">
	SELECT
	    c_no,
	    p_no,
	    m_no,
	    c_count,
	    c_size,
	    c_date,
	    c_update
	FROM
	    cart
	WHERE M_NO = #{memberNo} AND C_STATUS = 'Y'
	ORDER BY 7 DESC
	</select>
	
	<!-- 0 -->
	<select id="selectCartProductInfo" parameterType="_int" resultMap="selectCartProductInfoResultMap">
	SELECT 
		P.P_BRAND,
		P.P_TITLE,
        P.P_NAME,
        P.P_ENG,
        PO.PO_NAME,
        PO.PO_PRICE,
        PO.PO_AMOUNT,
        PF.PF_ORIGINALFILENAME,
        PF.PF_RENAMEFILENAME
	FROM CART C
	JOIN PRODUCT P ON(C.P_NO = P.P_NO)
	JOIN PRODUCT_OPTION PO ON (P.P_NO = PO.P_NO)
	JOIN PRODUCT_FILE PF ON (P.P_NO = PF.P_NO)
	WHERE 
	    C.C_NO = #{cartNo} 
	    AND C.C_SIZE = PO.PO_NAME 
	    AND PF.P_NO = #{productNo} 
	    AND PF.PF_SORT = 1
	    AND P.P_STATUS = 'Y'
	    AND PF.PF_STATUS = 'Y'
	</select>
	
	<update id="couponUpdate" parameterType="_int">
	    UPDATE member_benefit_info
		SET mbi_status = 'N'
		WHERE m_no = #{memberNo} AND bn_no = #{benefitNo} AND mbi_status = 'Y'
	</update>

	<update id="couponReset" parameterType="_int">
		UPDATE member_benefit_info
		SET mbi_status = 'Y'
		WHERE m_no = #{memberNo} AND bn_no = #{benefitNo} AND mbi_status = 'N'
	</update>

	<update id="cartDelete" parameterType="_int">
		UPDATE CART
		SET C_STATUS = 'N'
		WHERE c_no = #{cartNo} AND m_no = #{memberNo}
	</update>
	
	<insert id="orderInsert" parameterType="com.scent.perfume.cart.model.vo.Order" useGeneratedKeys="true">
		INSERT INTO order_detail (od_no,od_mno,od_method,od_date,od_price,od_discash,od_point,od_coupon,od_dlvcash,od_name,od_phone,od_email,od_dname,od_address,od_dphone,od_memo,od_status)
		VALUES (#{order.orderNo},#{order.memberNo},#{order.orderMethod},SYSDATE,#{order.finalPrice},#{order.discount},#{order.point},#{order.coupon},#{order.delivery},#{order.orderName},#{order.orderPhone},#{order.orderEmail},#{order.recipientName},#{order.recipientAddr},#{order.recipientPhone},#{order.memo},'Y')
	</insert>
	
	<insert id="orderListInsert" parameterType="com.scent.perfume.cart.model.vo.OrderList">
		INSERT INTO "ORDER" (o_no,p_no,od_no,o_count,o_size,o_price)
		VALUES(SEQ_ORDER_O_NO.NEXTVAL,#{orderList.productNo},#{orderList.orderNo},#{orderList.orderCount},#{orderList.orderSize},#{orderList.orderPrice})
	</insert>
	
	<update id="minusPoint" parameterType="_int">
		UPDATE MEMBER
		SET M_POINT = M_POINT - #{point}
		WHERE M_NO = #{memberNo}
	</update>
	
	<update id="plusPoint" parameterType="_int" >
		UPDATE MEMBER
		SET M_POINT = M_POINT + #{plusPoint}
		WHERE M_NO = #{memberNo}
	</update>
	
	<select id="orderList" parameterType="string" resultMap="orderListResultMap">
		SELECT  od_no,
		        od_mno,
		        od_method,
		        od_date,
		        od_price,
		        od_discash,
		        od_point,
		        od_coupon,
		        od_dlvcash,
		        od_name,
		        od_phone,
		        od_email,
		        od_dname,
		        od_address,
		        od_dphone,
		        od_memo
		FROM ORDER_DETAIL
		WHERE OD_NO = #{orderNo}
	</select>
	
	<select id="orderDetailList" parameterType="string" resultMap="orderDetailResultMap">
		SELECT O.OD_NO,
			   PF.PF_RENAMEFILENAME,
			   P.P_NO,
			   P.P_NAME,
			   P.P_ENG,
			   P.P_BRAND,
			   O.O_SIZE,
			   O.O_PRICE,
			   O.O_COUNT
		FROM
	    "ORDER" O
	    LEFT JOIN PRODUCT P ON (O.P_NO = P.P_NO)
	    LEFT JOIN PRODUCT_FILE PF ON (P.P_NO = PF.P_NO)
	    where od_no = #{orderNo} AND PF.PF_SORT = 1 
	</select>
	
	<select id="selectNowOrder" parameterType="_int" resultMap="nowOrderResultMap">
		SELECT  po_no,
			    p_no,
			    po_name,
			    po_price,
			    po_amount
		FROM  product_option
		WHERE P_NO = #{productNo} AND PO_NAME = #{poName}
	</select>
	
	<select id="selectNowProduct" parameterType="_int" resultMap="nowProductResultMap">
		SELECT  p_name,
			    p_eng,  
			    p_brand,
			    p_title
		FROM  product
		where p_no = #{productNo} and p_status = 'Y'
	</select>
	
	<select id="selectNowFile" parameterType="_int" resultMap="nowFileResultMap">
		SELECT  PF_ORIGINALFILENAME,
			    PF_RENAMEFILENAME
		FROM  product_file
		WHERE P_NO = #{productNo} AND PF_STATUS = 'Y' AND PF_SORT = 1
	</select>
	
	<update id="updateCart" parameterType="_int">
		UPDATE cart
		SET  c_status = 'N'
		WHERE  c_no = #{cartNo}
	</update>
	
	<insert id="insert" parameterType="Cart">
		INSERT INTO cart (  c_no,
						    p_no,
						    m_no,
						    c_count,
						    c_size,
						    c_status,
						    c_date,
						    c_update
						) VALUES (
						    SEQ_CART_C_NO.NEXTVAL,
						    #{cart.productNo},
						    #{cart.memberNo},
						    #{cart.cartProductCount},
						    #{cart.cartOptionSize},
						    DEFAULT,
						    DEFAULT,
						    DEFAULT
						)
	</insert>
	



</mapper>